---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Home/Hero.astro"
import Skills from "../components/Home/Skills"
import Experience from "../components/Home/Experience"
import Projects from "../components/Home/Projects.astro"
import Contact from "../components/Home/Contact.astro"
import About from "../components/Home/About.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="David Freites - Portfolio" description="Ecommerce Developer">
  <main
    class="absolute top-0 z-[-2] h-fit w-full bg-white dark:bg-neutral-950
    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,0,255,0.2),rgba(255,255,255,0))]
    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.5),rgba(255,255,255,0))]"
  >
    <Hero />
    <About />
    <Skills client:load />
    <Experience client:load />
    <Contact />
  </main>
</Layout>
