---
import { ClientRouter } from "astro:transitions"
import "@fontsource-variable/onest"
import "../styles/global.css"
import Header from "../components/Header"

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Header client:load />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
  }
  * {
    transition: all 0.2s;
  }
</style>
